body {
  margin: 0;
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
  min-width: 400px;
}

input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #5f9341;
  height: 30px;
}

button {
  background-color: #5f9341;
  color: white;
  border: none;
  height: auto;
  width: auto;
  margin-top: 20px;
  text-align: center;
  font-weight: bold;
  padding: 10px 20px;
  border: 1px solid #5f9341;
}
  
#delete-btn {
  color: #5f9341;
  background-color: white;
}
/* List and anchor styling */

ul {
  margin-top: 20px;
  list-style-type: none;
  padding-left: 0;
}

li a {
  margin-bottom: 5px;
}

a {
  color: #5f9341;
}
